In [1]:
!pip3 install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/11/1c/b0bc154996617eae877ff267fcf84e55e6c6808dbade0da206f0419dd483/pandas-1.2.1.tar.gz
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting pytz>=2017.3 (from pandas)
  Using cached https://files.pythonhosted.org/packages/89/06/2c2d3034b4d6bf22f2a4ae546d16925898658a33b4400cfb7e2c1e2871a3/pytz-2020.5-py2.py3-none-any.whl
Collecting numpy>=1.16.5 (from pandas)
  Using cached https://files.pythonhosted.org/packages/51/60/3f0fe5b7675a461d96b9d6729beecd3532565743278a9c3fe6dd09697fa7/numpy-1.19.5.zip
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting python-dateutil>=2.7.3 (from pandas)
  Using cached https://files.pythonhosted.org/packages/d4/70/d60450c3dd48ef87586924207ae8907090de0b306af2bce5d134d78615cb/python_dateutil-2.8.1-py2.py3-none-any.whl
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Building wheels for collected packages: pandas, numpy
  Building wheel for pandas (PEP 517) ... done
  Created wheel for pandas: filename=pandas-1.2.1-cp38-cp38-macosx_10_14_6_x86_64.whl size=15826248 sha256=5fe36fa64d80906181cb8359c2ebd05c1be0cabc5bd729b49a8829a09d44d875
  Stored in directory: /Users/jungseong/Library/Caches/pip/wheels/07/4a/7b/74705418d41de8ed7808beb6b53dd320557a3e95b09a6eccfd
  Building wheel for numpy (PEP 517) ... done
  Created wheel for numpy: filename=numpy-1.19.5-cp38-cp38-macosx_10_14_6_x86_64.whl size=6395088 sha256=9aa6e3572726ef5a08681cec549eb12259da90c14fde7494fbf7097e7ea0fd16
  Stored in directory: /Users/jungseong/Library/Caches/pip/wheels/ee/cd/78/686734467766f26e3d2b42605dce9fdb7d24c1c1d26f2fb8fc
Successfully built pandas numpy
Installing collected packages: pytz, numpy, python-dateutil, pandas
ERROR: Could not install packages due to an EnvironmentError: [Errno 13] Permission denied: '/Library/Python/3.8'
Consider using the `--user` option or check the permissions.

WARNING: You are using pip version 19.2.3, however version 20.3.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [8]:
import pandas as pd
a=pd.DataFrame([[56,66,70], [90,45,34], [45,32,55], [70,77,89], [56,80,70], [60,54,55], [45,70,79], [34,77,76], [25,87,60], [88,40,43]],columns=['math_score','english_score','chinese_score'])
a

   math_score  english_score  chinese_score
0          56             66             70
1          90             45             34
2          45             32             55
3          70             77             89
4          56             80             70
5          60             54             55
6          45             70             79
7          34             77             76
8          25             87             60
9          88             40             43

In [11]:
b=a.mean(axis=1)
b

0    64.000000
1    56.333333
2    44.000000
3    78.666667
4    68.666667
5    56.333333
6    64.666667
7    62.333333
8    57.333333
9    57.000000
dtype: float64

In [12]:
b.median(axis=0)

59.833333333333336

In [15]:
c=a.apply(lambda x:x**(0.5)*10)
c

   math_score  english_score  chinese_score
0   74.833148      81.240384      83.666003
1   94.868330      67.082039      58.309519
2   67.082039      56.568542      74.161985
3   83.666003      87.749644      94.339811
4   74.833148      89.442719      83.666003
5   77.459667      73.484692      74.161985
6   67.082039      83.666003      88.881944
7   58.309519      87.749644      87.177979
8   50.000000      93.273791      77.459667
9   93.808315      63.245553      65.574385

In [19]:
c.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64